textarea:active, textarea:focus, input:active, input:focus{
    outline: none;
}

p{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

body{
    background-color: #5d5d5d;
    color: #fff;
}

.about-container{
    display: flex;
    margin: 100px 5% 0;
}

.about-header{
    width: 100%;
}

.about-title{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}

.about-body{

}


.about-section{
    margin: 20px 0;

}

.about-section-body{
    display: flex;
}

/*info*/

.about-info{
    width: 100%;
    display: flex;
}

.about-info-text{
    text-align: justify;
}

.about-info-image{
    display: inline-block;
    width: 40%;
    height: 40%;
    padding: 10px 5px 0 10px;
}

.about-section{

}

.about-section-title-container{
    width: 100%;
}

.about-section-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

/*delivery*/

.about-delivery{
    margin: 20px 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.delivery-rules-label{
    font-size: 20px;
    padding-bottom: 5px;
}

.delivery-rules{
    list-style-type: disc;
}

/*contact us*/

.about-ask-question{
    display: flex;
    flex-direction: column;
    width: 650px;
    margin: 30px 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.about-label{
    font-size: 16px;
    padding: 5px 0;
    display: block;
}

.about-email{
    display: block;
    width: 100%;
    font-size: 18px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #a2a2a2;
    color: #fff;
    padding-left: 10px;
}

.about-textarea{
    display: block;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #a2a2a2;
    min-height: 250px;
    resize: none;
    color: #fff;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.about-submit-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}

.about-submit{
    display: block;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #4CAF50;
    border-radius: 10px;
    color: #fff;
    padding: 0.75em 1.25em;
    border-width: 0;
    transition: 0.2s;
}

.about-submit:hover{
    background: #439648;
    cursor: pointer;
}

.ask-question-extra {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.ask-question-extra-label{
    display: block;
    padding-bottom: 15px;
}