form{
    padding: 0;
    margin: 0;
}
body{
    background: #5d5d5d;
}

button:active, button:focus {
    outline: none;
}

/*container*/

.account-container {
    display: flex;
    flex-direction: row;
    margin: 90px 10% 50px;

}

/*profile-info*/

.profile{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 10%;
    justify-content: space-evenly;
    margin-right: inherit;
}

.profile-image{
    width: 300px;
    height: 300px;
}

.profile-info{
    margin: 20px 0;
}

.profile-label{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}

.profile-buttons-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.profile-edit{
    background-color: #4CAF50;
    border-radius: 10px;
    padding: 0.5em 1.0em;
    border-width: 0;
    transition: 0.2s;
    display: block;
    width: 300px;
    margin-bottom: 10px;
}

.profile-logout{
    background-color: #a2a2a2;
    border-radius: 10px;
    padding: 0.5em 1.0em;
    border-width: 0;
    transition: 0.2s;
    display: block;
    width: 300px;
    margin-bottom: 10px;
}

.profile-edit:hover{
    background-color: #439648;
    cursor: pointer;
}

.profile-edit:hover{
    background-color: #9d9d9d;
    cursor: pointer;
}

/*tabs*/

.account-manage{
    flex-direction: column;
    margin-top: 7%;
    width: 60%;
}

.account-tabs{
    overflow: hidden;
    border-bottom: 1px solid #4d4d4d;
}

.account-tab{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    background-color: #5d5d5d;
    padding: 10px 20px;
    transition: 0.2s;
    width: 32%;
}

.account-tab:hover{
    cursor: pointer;
    border-bottom: 4px solid #ddd;
    background: #ddd;
}

.account-tab.is-active{
    border-bottom: 4px solid #4CAF50;

}
/*orders*/

.account-empty{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.account-empty-label{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 100%;
}

.account-empty-link{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #439648;
    text-align: center;
    text-decoration: none;
}

.account-orders{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.order-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #a2a2a2;
    border-radius: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.order-start{
    flex-direction: column;
}

.order-date{
    display: block;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.order-dishes{
    padding: 15px;
}

.order-end{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-price-container{
    display: flex;
    flex-direction: row;
    margin: 15px;
    align-items: center;
    justify-content: flex-end;;
}

.order-price{
    padding-right: 5px;
}

.account-action-button{
    background-color: #4CAF50;
    border-radius: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 0.4em 0.8em;
    border-width: 0;
    transition: 0.2s;
    font-size: 15px;
    display: block;
    margin: 10px;
}

.account-action-button:hover{
    background: #439648;
    cursor: pointer;
}

/*favourite dishes*/

.account-favorites{
    display: none;
    flex-direction: column;
}

.favorite-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    background: #a2a2a2;
    margin-top: 5px;
}

.favorite-info-start{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.favorite-image{
    width: 80px;
    height: 80px;
    display: block;
}

.favorite-header{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.favorite-title{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

.favorite-info-end{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.favorite-price{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 10px 0;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    color: #fff;
}

.favorite-price-value-discount{
    margin-left: 5px;
}

/*extra info*/

.account-extra{
    width: 100%;
    display: none;
    flex-direction: column;
}

.extra-container{
    margin-top: 20px;
}

.extra-info {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}


