h3, h4, ul, form, span, button, p{
    margin: 0;
    padding: 0;
}

form{
    width: 100%;
}

a{
    text-decoration: none;
    color: #4CAF50;
    transition: 0.2s;
}

a:hover{
    color: #3d8a40;
}

button:active,button:focus{
    outline: none;
}

.login{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}

.login:target{
    display: block;
}

.login-body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.login-content{
    background-color: white;
    color: black;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.login-header{
    display: flex;
    justify-content: space-between;
}

.login-title{
    width: 100%;
    display: block;
    font-size: 36px;
    color: #545454;
    text-align: center;
    padding: 20px;
}

.login-close{
    text-decoration: none;
    color: #545454;
    font-size: 24px;
    padding-right: 10px;
    transition: 0.2s;
}
.login-close:hover{
    color: #4CAF50;
    cursor: pointer;
}

/*login form*/

.login-form{
    display: inline-flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 10px 80px;
}

.login-field{
    width: 100%;
}

.login-field-input{
    font-size: 18px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #ededed;
    margin-bottom: 15px;
}

.login-form-submit{
    width: 100%;
    font-size: 18px;
    background-color: #4CAF50;
    border-radius: 7px;
    color: #fff;
    padding: 0.75em 1.25em;
    border-width: 0;
    transition: 0.2s;
    margin-top: 30px;

}

.login-form-submit:hover{
    background-color: #3d8a40;
    cursor: pointer;
    border: none;
}

/*footer*/

.login-footer{
    display: inline-flex;
    flex-direction: column;
    padding: 20px 80px 30px;
}

.login-footer-text{
    color: #545454;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.register-password-mismatch{
    display: none;
}






