body{
    margin: 0;
    background-color: #fff;
}

h2 {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

p{
    margin: 0;
    padding: 0;
}

form{
    width: auto;
    margin: 0;
    padding: 0;
}

.menu-container{
    display: flex;
    flex-direction: column;
    margin: 120px 5% 0;
}

.menu-header{
    display: flex;
    justify-content: center;
}
.menu-title{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #4CAF50;
}
@media (max-width: 576px) {
    .menu-title{
        font-size: 36px;
    }
}
.menu-content{
    display: flex;
    margin-top: 50px;
}
.menu-categories{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu-categories-item{
    border: none;
    display: block;
    min-width: 200px;
    margin-bottom: 20px;
}
.menu-categories-button{
    cursor: pointer;
    border-radius: 8px;
    border: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 100%;
    background: #e0e0e0;
    color: #545454;
    padding: 4px 0 4px;
    transition: 0.2s;
}

.menu-categories-button:hover{
    background: #d1d1d1;
}

.menu-categories-button:active{
    border-width: 0;
    border-style: none;
}

.menu-panel{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

/*menu-filters*/

.menu-items-sort{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: start;
}

.menu-sort-label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #545454;
    display: block;
}

.menu-sorting-form{
    width: auto;
}

.menu-sort-criteria{
    display: inline-block;
    border: none;
    border-radius: 6px;
    transition: 0.2s;
    background: #e0e0e0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #545454;
    font-size: 18px;
    cursor: pointer;
    padding: 3px;
    margin-left: 15px;
}

.menu-sort-criteria:hover{
    background: #d1d1d1;
}

/*menu-items*/
.menu-items{
    display: flex;
    flex-wrap: wrap;
}
.menu-item{
    display: inline-flex;
    margin-right: 30px;
    margin-bottom: 60px;
    flex-direction: column;
    width: 300px;
}

.menu-item-title{
    display: block;
    margin: 20px 0 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
}

.menu-item-description{
    display: block;
    color: #5e5e5e;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}

.menu-item-bottom{
    display: inline-flex;
    margin-top: 15px;
    justify-content: space-between;
}

.menu-item-button{
    background-color: #4CAF50;
    border-radius: 0.25em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0.75em 1.25em;
    border-width: 0;
}