p, h4, h2{
    margin: 0;
    padding: 0;
}
.reviews-container{
    display: flex;
    flex-direction: column;
    margin: 60px 10% 20px;
}

.reviews-header{
    display: flex;
    flex-direction: row;
}

.reviews-title{
    padding: 40px 0 20px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #545454;
    text-align: center;
}

.give-feedback-button{
    display: inline-block;
    background-color: #4CAF50;
    border-radius: 7px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0.75em 1.25em;
    border-width: 0;
    transition: 0.2s;
}

.give_feedback:hover{
    cursor: pointer;
    background: #3d8a40;;
}

.review-content-container{
    display: inline-flex;
    flex-direction: column;
    margin: 0 20px 15px 10px;

}

.reviews-list{
    display: flex;
    flex-direction: column;
}

.reviews-list-item{
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
    background: #e0e0e0;
    border-radius: 12px;
    color: #545454;
    margin-bottom: 15px;
}

.review-header{
    margin-top: 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.review-header-title{
    display: block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-bottom: 4px;
    color: #545454;
}

.review-rating{
    color: #545454;
}

.review-author{
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
}

.review-author-name{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 4px;
}

.review-author-photo{
    width: 130px;
    border-radius: 6px;
}

.review-content{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #545454;
    text-align: justify;
}
